<div class="main-body">
  <div>
   <a target="_blank" href="https://www.google.com/maps/place/Kampus+Korner+Restaurant/@30.0413162,-94.0728179,17z/data=!3m1!4b1!4m2!3m1!1s0x863eca79086ceeab:0x704b6f5fad49fe5c"> <%=image_tag "locatin.png" %></a>
    </div>
  <br />
  <div style="font-family: cursive;font-size: small;color: khaki">
    <p style="font-size: large;">Working hours</p>
    <p>Monday - Saturday 9:00 AM to 10:00 PM</p>
    <p>closed on sunday</p>
    <p style="font-size: large; padding-top: 2%">Contaact us</p>
    <p>4637 Rolfe Christopher Dr</p>
    <p>Beaumont, TX 77705</p>
    <p>phone: 409-832-6386</p>
  </div>
  <div class="clear"> </div>
</div>
