<div class="footer1">

    <div class = "footer_time">
      <p>Mon - Sat 9:00 AM to 10:00 PM</p>
      <p>closed on sunday. 409-832-6386</p>

    </div>
    <div class = "footer_add">
      <p>4637 Rolfe Christopher Dr</p>
      <p>Beaumont, TX 77705 </p>
    </div>
  <div class="footer-grid2">
    <ul>
      <li><a href="https://www.facebook.com/pages/Kampus-Korner-Bar-Grill/217331568294921"><%= image_tag "facebook.png" %></a></li>
      <li><a href=""><%= image_tag "twitter.png"%></a></li>
      <li><a href=""><%= image_tag "rss.png"%></a></li>
    </ul>
  </div>
  <div class="clear"> </div>
</div>